<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ControladorEmpresa</servlet-name>
        <servlet-class>com.controladores.ControladorEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorLogin</servlet-name>
        <servlet-class>com.controladores.ControladorLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPostulante</servlet-name>
        <servlet-class>com.controladores.ControladorPostulante</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorEmpresa</servlet-name>
        <url-pattern>/ControladorEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorLogin</servlet-name>
        <url-pattern>/ControladorLogin</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ControladorEmpresa</servlet-name>
        <url-pattern>/empresa/mis-ofertas</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ControladorEmpresa</servlet-name>
        <url-pattern>/empresa/crear-oferta</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ControladorPostulante</servlet-name>
        <url-pattern>/postulante/crear-cv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPostulante</servlet-name>
        <url-pattern>/postulante/ofertas</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ControladorPostulante</servlet-name>
        <url-pattern>/postulante/oferta</url-pattern>
    </servlet-mapping>
    <session-config>
<!--        <session-timeout>
            30
        </session-timeout>-->
    </session-config>
</web-app>
